.personal-info-section
{
    width: 450px;
}
.personal-info-section h1
{
    color: var(--denim-clr);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-700);
    margin-bottom: 12px;
}
.personal-info-section p
{
    color: var(--gray-clr);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
    margin-bottom: 36px;
}
.personal-info-section form label
{
    display: block;
    color: var(--denim-clr);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
    margin-bottom: 8px;
}
.personal-info-section form input
{
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--border-clr);
    height: 48px;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
    padding-left: 16px;
}
.personal-info-section form input::placeholder
{
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
    color: var(--gray-clr);
}
.input-box
{
    position: relative;
    margin-bottom: 24px;
}
.error-message
{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--error-clr);
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-14);
}
.personal-info-section form input.error-input
{
    border: 1px solid var(--error-clr);
}
/* SELECT PLAN */
.plan-boxes
{
    gap: 18px;
}
.plan-box
{
    background-color: var(--white-clr);
    border: 1px solid var(--border-clr);
    border-radius: 10px;
    width: 160px;
    padding: 20px 16px 16px 16px;
    margin-bottom: 32px;
}
.plan-box:hover
{
    border: 1px solid var(--denim-clr);
}
.plan-box.active
{
    border: 1px solid var(--denim-clr);
}
.plan-box .plan-image
{
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-bottom: 40px;
}
.plan-box .plan-image img
{
    width: 100%;
}
.plan-box h3
{
    color: var(--denim-clr);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
    margin-bottom: 8px;
}
.plan-box span
{
    font-size: var(--font-size-14);
    color: var(--gray-clr);
    font-weight: var(--font-weight-400);
}
.toggle-box
{
    width: 100%;
    padding: 14px;
    background-color: #F8F9FF;
    border-radius: 10px;
}
.toggle-box .toggle-content
{
    width: fit-content;
    margin: auto;
    gap: 24px;
}
.toggle-box h3
{
    font-size: var(--font-size-14);
    color: var(--gray-clr);
    font-weight: var(--font-weight-700);
}
.toggle-box .toggle
{
    width: 38px;
    padding: 5px 4px;
    background-color: var(--denim-clr);
    border-radius: 20px;
    border: 1px solid var(--denim-clr);
}
.toggle-box .toggle .toggle-ball
{
    float: left;
    background-color: var(--white-clr);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.buttons
{
    margin-top: 20px;
    position: absolute;
    bottom: 32px;
    right: 96px;
    width: 450px;
}
.back-btn
{
    background-color: transparent;
    color: var(--gray-clr);
    height: 48px;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-16);
}
.back-btn:hover
{
    color: var(--denim-clr);
}
.toggle.active .toggle-ball
{
    transform: translateX(16px);
}
h3.active
{
    color: var(--denim-clr);
}
/* SERVICES */
