*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  transition: 0.3s;
}
:root
{
  --denim-clr: #022959;
  --white-clr: #fff;
  --black-clr: #000;
  --gray-clr: #9699AA;
  --sky-blue-clr: #BEE2FD;
  --bg-clr: #EFF5FF;
  --orange-clr: #FFAF7E;
  --pink-clr: #F9818E;
  --purple-clr: #483EFF;
  --error-clr: #EE374A;
  --light-blue-clr: #ABBCFF;
  --font-size-32: 32px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-weight-700: 700;
  --font-weight-400: 400;
  --font-weight-500: 500;
}
.flex
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body
{
  background-color: var(--bg-clr);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}